// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  color: white;
  font-size: 40px;
  background-color: rgb(56, 56, 56);
  font-family: 'Staatliches', cursive;
  align-items: center;
}
h1 {
  font-size: 56px;
}

a {
  color: rgb(129, 129, 129);
  font-size: 20px;
}

a:hover {
  color:white
}

h5{
 color:  rgb(129, 129, 129);
}

.container {
  margin: 0 auto;
  width: 75vw;
  padding: 10rem 10rem 10rem 10rem;
}
